/* link google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.icon{
    font-size: 2rem;
    width: 75px;
}

.title{
    margin-right: 7rem;
}

/* input[type="text"] {
    text-transform: lowercase;
  } */

.input-group{
    width: 60%;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("../images/menu.svg") !important;
  }

/* spinner style */
.loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.album {
    padding: 8vw 0;
}

/* input section style */
#search-field{
    padding: .6rem;
    border: 0;
    outline: 0;
    box-shadow: 2px 2px 10px rgb(236, 236, 236);
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

#search-btn{
    border: 0;
    background-color: rgb(0, 0, 0);
    color: #fff;
    cursor: pointer;
}

/* display phones section */
#phones{
    margin-top: -7rem;
}

#phones img{
    margin: 0 auto;
    width: 80%;
}

#phones .card {
    border-radius: 10px;
    overflow: hidden;
    /* box-shadow: 2px 2px 10px rgb(236, 236, 236); */
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0;
}

.details-btn{
    width: 50%;
    margin: 0 auto;
}

/* modal section style */
.modal .modal-title {
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
}

.modal img {
    /* height: 320px; */
    width: 40%;
    margin: 0 30%;
    border-radius: 3px;
    object-fit: cover;
}

.modal p {
    font-size: 16px;
}

/* footer section style */
.footer-text{
    text-decoration: none;
}

#show-all{
    margin-left: 50%;
    margin-bottom: 2rem;
    margin-top: -8rem;
}

#author{
    text-decoration: none;
    font-weight: 900;
    color: grey;
    /* font-style: italic; */
    font-size: 1.1rem;
}
#author:hover{
    color: black;
}

/*----------------------- Responsive Breakpoints ---------------------------*/
@media screen and (max-width: 490px) {

    .found-length{
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	#phones{
        margin-top: -2.5rem;
        /* margin-bottom: 2rem; */
    }
    .input-group{
        width: 90%;
    }

    .icon{
        width: 60px;
    }

    .title{
        font-size: 1.2rem;
        margin-left: -0.5rem;
    }

    .modal img {
        /* height: 320px; */
        width: 30%;
        margin: 0 30%;
    }
    .modal p {
        font-size: 15px;
    }

    #phones img{
        margin: 0 auto;
        width: 60%;
    }

    #phones .card{
        width: 75%;
        margin: 0 auto;
    }

    #show-all{
        margin-left: 40%;
        margin-top: 1.5rem;
    }

    #author{
        font-size: .8rem;
    }

    footer p{
        font-size: .8rem;
    }
    .footer-text{
        font-size: .8rem;
    }
    
}

@media screen and (min-width: 576px) {

    /* .input-group{
        width: 90%;
    } */

    .found-length{
        margin-top: 2.5rem;
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #phones{
        margin-top: -3rem;
    }
    .title{
        font-size: 2rem;
        margin-left: -14rem;
    }

    #show-all{
        margin-left: 45%;
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 992px) {

    .found-length{
        font-size: 1.5rem;
        font-weight: 800;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #phones{
        margin-top: -8rem;
    }
    .title{
        font-size: 1.7rem;
        margin-left: -36rem;
    }
    #search-field{
        font-size: 1.1rem;
        padding: 1rem;
        border: 0;
        outline: 0;
        box-shadow: 2px 2px 10px rgb(236, 236, 236);
        filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
    }
    
    #search-btn{
        border: 0;
        color: #fff;
        cursor: pointer;
    }

    #show-all{
        margin-left: 50%;
        margin-top: -6rem;
    }
}